
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-580270101236810500.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-580270101236810500.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-580270101236810500.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-580270101236810500.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-580270101236810500.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-580270101236810500.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-580270101236810500.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-580270101236810500.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-580270101236810500.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-580270101236810500.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-580270101236810500.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-580270101236810500.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-580270101236810500.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-580270101236810500.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-580270101236810500.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-580270101236810500.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-580270101236810500.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-580270101236810500.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-580270101236810500.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-580270101236810500.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-580270101236810500.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-580270101236810500.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-580270101236810500.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-580270101236810500.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-580270101236810500.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-580270101236810500.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-580270101236810500.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-580270101236810500.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-580270101236810500.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-580270101236810500.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-580270101236810500.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-580270101236810500.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-580270101236810500.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-580270101236810500.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-580270101236810500.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-580270101236810500.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-580270101236810500.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-580270101236810500.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-580270101236810500.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-580270101236810500.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-580270101236810500.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-580270101236810500.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-580270101236810500.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-580270101236810500.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-580270101236810500.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-580270101236810500.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-580270101236810500.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-580270101236810500.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-580270101236810500.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-580270101236810500.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-580270101236810500.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-580270101236810500.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-580270101236810500.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-580270101236810500.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-580270101236810500.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-580270101236810500.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-580270101236810500.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-580270101236810500.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-580270101236810500.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-580270101236810500.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-580270101236810500.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-580270101236810500.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-580270101236810500.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-580270101236810500.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-580270101236810500.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-580270101236810500.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-580270101236810500.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-580270101236810500.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-580270101236810500.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-580270101236810500.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-580270101236810500.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-580270101236810500.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-580270101236810500.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-580270101236810500.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-580270101236810500.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-580270101236810500.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-580270101236810500.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-580270101236810500.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-580270101236810500.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-580270101236810500.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-580270101236810500.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-580270101236810500.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-580270101236810500.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-580270101236810500.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-580270101236810500.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-580270101236810500.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-580270101236810500.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-580270101236810500.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-580270101236810500.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-580270101236810500.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-580270101236810500.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-580270101236810500.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-580270101236810500.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-580270101236810500.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-580270101236810500.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-580270101236810500.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-580270101236810500.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-580270101236810500.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-580270101236810500.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-580270101236810500.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-580270101236810500.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-580270101236810500.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-580270101236810500.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-580270101236810500.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-580270101236810500.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-580270101236810500.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-580270101236810500.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-580270101236810500.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-580270101236810500.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-580270101236810500.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-580270101236810500 .gp-relative{position:relative}.gps-580270101236810500 .gp-z-1{z-index:1}.gps-580270101236810500 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-580270101236810500 .gp-mb-0{margin-bottom:0}.gps-580270101236810500 .gp-inline-block{display:inline-block}.gps-580270101236810500 .gp-flex{display:flex}.gps-580270101236810500 .gp-inline-flex{display:inline-flex}.gps-580270101236810500 .gp-grid{display:grid}.gps-580270101236810500 .gp-contents{display:contents}.gps-580270101236810500 .\!gp-hidden{display:none!important}.gps-580270101236810500 .gp-hidden{display:none}.gps-580270101236810500 .gp-h-auto{height:auto}.gps-580270101236810500 .gp-h-full{height:100%}.gps-580270101236810500 .gp-w-full{width:100%}.gps-580270101236810500 .gp-max-w-full{max-width:100%}.gps-580270101236810500 .gp-flex-none{flex:none}.gps-580270101236810500 .gp-shrink-0{flex-shrink:0}.gps-580270101236810500 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-580270101236810500 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-580270101236810500 .gp-flex-col{flex-direction:column}.gps-580270101236810500 .gp-items-center{align-items:center}.gps-580270101236810500 .gp-justify-center{justify-content:center}.gps-580270101236810500 .gp-overflow-hidden{overflow:hidden}.gps-580270101236810500 .gp-break-words{overflow-wrap:break-word}.gps-580270101236810500 .gp-leading-\[0\]{line-height:0}.gps-580270101236810500 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-580270101236810500 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-580270101236810500 .gp-no-underline{text-decoration-line:none}.gps-580270101236810500 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-580270101236810500 .gp-duration-200{transition-duration:.2s}.gps-580270101236810500 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-580270101236810500 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-580270101236810500 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-580270101236810500 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-580270101236810500 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-580270101236810500 .tablet\:\!gp-hidden{display:none!important}.gps-580270101236810500 .tablet\:gp-hidden{display:none}.gps-580270101236810500 .tablet\:gp-h-auto{height:auto}.gps-580270101236810500 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-580270101236810500 .mobile\:\!gp-hidden{display:none!important}.gps-580270101236810500 .mobile\:gp-hidden{display:none}.gps-580270101236810500 .mobile\:gp-h-auto{height:auto}.gps-580270101236810500 .mobile\:gp-flex-none{flex:none}}.gps-580270101236810500 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-580270101236810500 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-580270101236810500 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-580270101236810500 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-580270101236810500 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-580270101236810500 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v17/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxhTg.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v17/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZthTg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYMZg.ttf) format('truetype');
}


@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v17/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxhTg.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v17/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAfJthTg.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v17/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZthTg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYMZg.ttf) format('truetype');
}


@font-face {
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/albertsans/v4/i7dZIFdwYjGaAMFtZd_QA3xXSKZqhr-TenSHq5P_rA.ttf) format('truetype');
}
@font-face {
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/albertsans/v4/i7dZIFdwYjGaAMFtZd_QA3xXSKZqhr-TenSHdZT_rA.ttf) format('truetype');
}
@font-face {
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/albertsans/v4/i7dZIFdwYjGaAMFtZd_QA3xXSKZqhr-TenSHTJT_rA.ttf) format('truetype');
}


@font-face {
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/albertsans/v4/i7dZIFdwYjGaAMFtZd_QA3xXSKZqhr-TenSHq5P_rA.ttf) format('truetype');
}
@font-face {
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/albertsans/v4/i7dZIFdwYjGaAMFtZd_QA3xXSKZqhr-TenSHdZT_rA.ttf) format('truetype');
}
@font-face {
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/albertsans/v4/i7dZIFdwYjGaAMFtZd_QA3xXSKZqhr-TenSHTJT_rA.ttf) format('truetype');
}


@font-face {
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/albertsans/v4/i7dZIFdwYjGaAMFtZd_QA3xXSKZqhr-TenSHq5P_rA.ttf) format('truetype');
}
@font-face {
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/albertsans/v4/i7dZIFdwYjGaAMFtZd_QA3xXSKZqhr-TenSHdZT_rA.ttf) format('truetype');
}
@font-face {
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/albertsans/v4/i7dZIFdwYjGaAMFtZd_QA3xXSKZqhr-TenSHTJT_rA.ttf) format('truetype');
}


@font-face {
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/albertsans/v4/i7dZIFdwYjGaAMFtZd_QA3xXSKZqhr-TenSH9ZP_rA.ttf) format('truetype');
}
</style>
  
    
    
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0688/1669/9445/files/gempages_580119989361574421-668dabe1-c5ae-4f94-82ac-92872eb91644.png" as="image" />

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"backupFileKey":"gempages_580119989361574421-668dabe1-c5ae-4f94-82ac-92872eb91644.png","height":869,"src":"https://cdn.shopify.com/s/files/1/0688/1669/9445/files/gempages_580119989361574421-668dabe1-c5ae-4f94-82ac-92872eb91644.png","storage":"FILE_CONTENT","width":1276},"position":{"x":50,"y":50},"preload":true,"repeat":"repeat","size":"cover","type":"image"}},"uid":"gfwp7a6-yx"}' data-id="gfwp7a6-yx" id="gfwp7a6-yx" data-same-height-subgrid-container class="gfwp7a6-yx gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url(https://cdn.shopify.com/s/files/1/0688/1669/9445/files/gempages_580119989361574421-668dabe1-c5ae-4f94-82ac-92872eb91644.png);--bgp:50% 50%;--bgs:cover;--bgr:repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="goCVKpzm71 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","backupFileKey":"gempages_580119989361574421-1c90ad1b-74e9-41b0-a948-907d4a9bbaad.png","height":1738,"image":{"backupFileKey":"gempages_580119989361574421-668dabe1-c5ae-4f94-82ac-92872eb91644.png","height":869,"src":"https://cdn.shopify.com/s/files/1/0688/1669/9445/files/gempages_580119989361574421-668dabe1-c5ae-4f94-82ac-92872eb91644.png","storage":"FILE_CONTENT","width":1276},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","src":"https://cdn.shopify.com/s/files/1/0688/1669/9445/files/gempages_580119989361574421-1c90ad1b-74e9-41b0-a948-907d4a9bbaad.png","storage":"FILE_CONTENT","type":"image","width":2781}},"uid":"gdXKJsMyEo"}' data-id="gdXKJsMyEo" id="gdXKJsMyEo" data-same-height-subgrid-container class="gdXKJsMyEo gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:30px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:30px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:30px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--h:100%;--bgi:url(https://cdn.shopify.com/s/files/1/0688/1669/9445/files/gempages_580119989361574421-668dabe1-c5ae-4f94-82ac-92872eb91644.png);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="goWVDEZmTN gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"backupFileKey":"gempages_580119989361574421-1c90ad1b-74e9-41b0-a948-907d4a9bbaad.png","height":1738,"src":"https://cdn.shopify.com/s/files/1/0688/1669/9445/files/gempages_580119989361574421-1c90ad1b-74e9-41b0-a948-907d4a9bbaad.png","storage":"FILE_CONTENT","width":2781},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gHrSnRV7zX"}' data-id="gHrSnRV7zX" id="gHrSnRV7zX" data-same-height-subgrid-container class="gHrSnRV7zX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:70px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:40px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:0px;--mr-tablet:auto;--pt-tablet:70px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--h:auto;--bgc:transparent;--bgi:url(https://cdn.shopify.com/s/files/1/0688/1669/9445/files/gempages_580119989361574421-1c90ad1b-74e9-41b0-a948-907d4a9bbaad.png);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gKmTCq5KSh gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"geoXYw0jCc"}' data-id="geoXYw0jCc" id="geoXYw0jCc" data-same-height-subgrid-container class="geoXYw0jCc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gx9qL3xL8Z gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gG6pZfhM3S"}' data-id="gG6pZfhM3S" id="gG6pZfhM3S" data-same-height-subgrid-container class="gG6pZfhM3S gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--mt:0px;--ml:auto;--mr:auto;--pt:4px;--pl:0px;--pb:4px;--pr:6px;--mt-mobile:0px;--ml-mobile:auto;--mr-mobile:auto;--pt-mobile:4px;--pl-mobile:0px;--pb-mobile:4px;--pr-mobile:6px;--mt-tablet:0px;--ml-tablet:auto;--mr-tablet:auto;--pt-tablet:4px;--pl-tablet:0px;--pb-tablet:4px;--pr-tablet:6px;--cg:5px;--rg:0px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:309px;--h:auto;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g4uTg7HY_2 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gmCUutGAtM"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1766724328194 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gmCUutGAtM"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_580119989361574421-0b0bb388-4594-4b61-9629-dc86b323c0a7.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTgiIGhlaWdodD0iMzkiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk4LTM5Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5OCIgaGVpZ2h0PSIzOSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTgiIGhlaWdodD0iMzkiIGZpbGw9InVybCgjZy05OC0zOSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk4IiB0bz0iOTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_580119989361574421-0b0bb388-4594-4b61-9629-dc86b323c0a7.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTgiIGhlaWdodD0iMzkiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk4LTM5Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5OCIgaGVpZ2h0PSIzOSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTgiIGhlaWdodD0iMzkiIGZpbGw9InVybCgjZy05OC0zOSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk4IiB0bz0iOTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_580119989361574421-0b0bb388-4594-4b61-9629-dc86b323c0a7.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTgiIGhlaWdodD0iMzkiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk4LTM5Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5OCIgaGVpZ2h0PSIzOSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTgiIGhlaWdodD0iMzkiIGZpbGw9InVybCgjZy05OC0zOSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk4IiB0bz0iOTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_580119989361574421-0b0bb388-4594-4b61-9629-dc86b323c0a7.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:39px;--h-tablet:39px;--h-mobile:39px;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g-0jqXuTbK gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gncs7w4l91"
        class="gncs7w4l91"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:Inter, var(--g-font-body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:140%;--lh-tablet:180%;--lh-mobile:180%;--ls:normal;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggncs7w4l91_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
      <style id="custom-css-gG6pZfhM3S">
        .gG6pZfhM3S {
  background: linear-gradient(
    180deg,
    rgba(243, 243, 246, .3) 0%,
    rgba(243, 243, 246, 0) 100%
  );
}

      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"g5fWKNOjS6"}' data-id="g5fWKNOjS6" id="g5fWKNOjS6" data-same-height-subgrid-container class="g5fWKNOjS6 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:1050px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g0Hik6MoXW gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gSwZCntBvg"
        class="gSwZCntBvg"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:10px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:10px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Albert-Sans, 'Albert Sans'), var(--g-font-heading, heading);--weight:300;--size:70px;--size-tablet:70px;--size-mobile:26px;--lh:112%;--lh-tablet:120%;--lh-mobile:120%;--ls:;--c:#FFFFFF;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggSwZCntBvg_text | replace: '$locationOrigin', locationOrigin }}
        </h1>
      </div>
    </div>
    
      <style id="custom-css-gSwZCntBvg">
        .gSwZCntBvg {

    position: relative;
}
      </style>
    
    <div
      role="presentation"
      data-id="gtMRkw_Gg1"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bottom:-5px;--d:block;--d-mobile:none;--d-tablet:block;--op:65%;--pageType:GP_STATIC;--pos:absolute;--right:81px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:right"
      class="gp-group/image gp-relative force-publish-1766724328202 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gtMRkw_Gg1"
    >
      <div
        
        style="border-radius:inherit;--jc:right"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_580119989361574421-393e65ad-68f6-4111-88e4-c0982f40cead.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTg5IiBoZWlnaHQ9IjE4OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTg5LTE4OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTg5IiBoZWlnaHQ9IjE4OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTg5IiBoZWlnaHQ9IjE4OSIgZmlsbD0idXJsKCNnLTE4OS0xODkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xODkiIHRvPSIxODkiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_580119989361574421-393e65ad-68f6-4111-88e4-c0982f40cead.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTg5IiBoZWlnaHQ9IjE4OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTg5LTE4OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTg5IiBoZWlnaHQ9IjE4OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTg5IiBoZWlnaHQ9IjE4OSIgZmlsbD0idXJsKCNnLTE4OS0xODkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xODkiIHRvPSIxODkiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_580119989361574421-393e65ad-68f6-4111-88e4-c0982f40cead.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTg5IiBoZWlnaHQ9IjE4OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTg5LTE4OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTg5IiBoZWlnaHQ9IjE4OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTg5IiBoZWlnaHQ9IjE4OSIgZmlsbD0idXJsKCNnLTE4OS0xODkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xODkiIHRvPSIxODkiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_580119989361574421-393e65ad-68f6-4111-88e4-c0982f40cead.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:100/100;--aspect-tablet:100/100;--aspect-mobile:100/100;--objf:cover;--w:107px;--w-tablet:107px;--w-mobile:107px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:transparent;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--radiusType:circle;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gtMRkw_Gg1">
        .gtMRkw_Gg1 {

}
.gtMRkw_Gg1 > figure > img {
    display: none;

}
      </style>
    
    </div>

      
    </gp-row>
  
  
      <style id="custom-css-g5fWKNOjS6">
        .g5fWKNOjS6 {

    position: relative;
}
      </style>
    
    

    

    
    <gp-row gp-data='{"uid":"ge_hmGxs2S"}' data-id="ge_hmGxs2S" id="ge_hmGxs2S" data-same-height-subgrid-container class="ge_hmGxs2S gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:600px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ga5FyGu7Mx gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmhGBkfpJC"
        class="gmhGBkfpJC"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:20px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:20px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:20px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:600px;--w-tablet:600px;--w-mobile:600px;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Albert-Sans, 'Albert Sans'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:22px;--size-mobile:16px;--lh:160%;--lh-tablet:180%;--lh-mobile:130%;--ls:normal;--c:#DDDDDD;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmhGBkfpJC_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"gVAU3VPjZD"}' data-id="gVAU3VPjZD" id="gVAU3VPjZD" data-same-height-subgrid-container class="gVAU3VPjZD gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:50px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:40px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:50px;--pr-tablet:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gqxjHgatmY gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center" >
        <style>[data-id="gojwP97BKN"].gp-button-base::before, [data-id="gojwP97BKN-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 32px;
      border-bottom-right-radius: 32px;
      border-top-left-radius: 32px;
      border-top-right-radius: 32px;
      
  
    }
  
      
  [data-id="gojwP97BKN"]:hover::before, [data-id="gojwP97BKN-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gojwP97BKN" dataId="gojwP97BKN" data-state="idle" aria-label="<p>&nbsp;</p><p>Browse Products</p>"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:20px;--pr:20px;--pt:12px;--pb:12px;--bblr:32px;--bbrr:32px;--btlr:32px;--btrr:32px;--bgi:;--bg:#FCFF45;--c:#000000;--fs:normal;--ff:var(--g-font-Albert-Sans, 'Albert Sans'), var(--g-font-body, body);--weight:600;--size:20px;--size-tablet:20px;--size-mobile:18px;--lh:26px;--lh-tablet:180%;--lh-mobile:180%;--ls:normal"
          class="gojwP97BKN gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--fs:normal;--ff:var(--g-font-Albert-Sans, 'Albert Sans'), var(--g-font-body, body);--weight:600;--size:20px;--size-tablet:20px;--size-mobile:18px;--lh:26px;--lh-tablet:180%;--lh-mobile:180%;--ls:normal;--ts:none;word-break:break-word;--ml:10px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" data-name="arrow-right-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550824440168">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Albert-Sans, 'Albert Sans'), var(--g-font-body, body);--weight:600;--size:20px;--size-tablet:20px;--size-mobile:18px;--lh:26px;--lh-tablet:180%;--lh-mobile:180%;--ls:normal;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggojwP97BKN_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gOwWCMsbjz gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left" >
        <style>[data-id="gpsEUfiwcG"].gp-button-base::before, [data-id="gpsEUfiwcG-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FFFFFF;
  
    
      border-bottom-left-radius: 32px;
      border-bottom-right-radius: 32px;
      border-top-left-radius: 32px;
      border-top-right-radius: 32px;
      
  
    }
  
      
  [data-id="gpsEUfiwcG"]:hover::before, [data-id="gpsEUfiwcG-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gpsEUfiwcG" dataId="gpsEUfiwcG" data-state="idle" aria-label="<p>&nbsp;</p><p>Browse Products</p>"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:20px;--pr:20px;--pt:12px;--pb:12px;--bblr:32px;--bbrr:32px;--btlr:32px;--btrr:32px;--bgi:;--bg:rgba(252, 255, 69, 0);--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Albert-Sans, 'Albert Sans'), var(--g-font-body, body);--weight:600;--size:20px;--size-tablet:20px;--size-mobile:18px;--lh:26px;--lh-tablet:180%;--lh-mobile:180%;--ls:normal"
          class="gpsEUfiwcG gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--fs:normal;--ff:var(--g-font-Albert-Sans, 'Albert Sans'), var(--g-font-body, body);--weight:600;--size:20px;--size-tablet:20px;--size-mobile:18px;--lh:26px;--lh-tablet:180%;--lh-mobile:180%;--ls:normal;--ts:none;word-break:break-word;--ml:10px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" data-name="arrow-right-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550824440168">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Albert-Sans, 'Albert Sans'), var(--g-font-body, body);--weight:600;--size:20px;--size-tablet:20px;--size-mobile:18px;--lh:26px;--lh-tablet:180%;--lh-mobile:180%;--ls:normal;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggpsEUfiwcG_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"gGk8iIdNlj"}' data-id="gGk8iIdNlj" id="gGk8iIdNlj" data-same-height-subgrid-container class="gGk8iIdNlj gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:20px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g8IQMPak8i gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#D9FDD4","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"grsh-w1LvN"}' data-id="grsh-w1LvN" id="grsh-w1LvN" data-same-height-subgrid-container class="grsh-w1LvN gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:32px;--bbrr:32px;--btlr:32px;--btrr:32px;--bblr-mobile:20px;--bbrr-mobile:20px;--btlr-mobile:20px;--btrr-mobile:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:20px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:12px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:500px;--h:100%;--bgc:#D9FDD4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gq4oYbqMx_ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gDHkKUgsAa"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:10px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left;--ta-mobile:center"
      class="gp-group/image gp-relative force-publish-1766724328256 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gDHkKUgsAa"
    >
      <div
        
        style="border-radius:inherit;--jc:left;--jc-mobile:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_580119989361574421-11826337-1ae1-451c-8b85-1b76fa82a2a1.png" | file_url }}" srcset="{{ "gempages_580119989361574421-11826337-1ae1-451c-8b85-1b76fa82a2a1.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_580119989361574421-11826337-1ae1-451c-8b85-1b76fa82a2a1.png" | file_url }}" srcset="{{ "gempages_580119989361574421-11826337-1ae1-451c-8b85-1b76fa82a2a1.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_580119989361574421-11826337-1ae1-451c-8b85-1b76fa82a2a1.png" | file_url }}" data-src="{{ "gempages_580119989361574421-11826337-1ae1-451c-8b85-1b76fa82a2a1.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:4/3;--aspect-tablet:4/3;--aspect-mobile:4/3;--objf:cover;--objf-mobile:cover;--w:250px;--w-tablet:250px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gsfdZ8xNoT gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gmNwzM7tvK"}' data-id="gmNwzM7tvK" id="gmNwzM7tvK" data-same-height-subgrid-container class="gmNwzM7tvK gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g-1FeYGSTK gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5Y_v-fPe9"
        class="g5Y_v-fPe9"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Albert-Sans, 'Albert Sans'), var(--g-font-heading, heading);--weight:700;--size:45px;--size-tablet:45px;--size-mobile:36px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;--ls:;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5Y_v-fPe9_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goZCCjXqod"
        class="goZCCjXqod"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Albert-Sans, 'Albert Sans'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:22px;--size-mobile:16px;--lh:160%;--lh-tablet:180%;--lh-mobile:130%;--ls:normal;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggoZCCjXqod_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"gTVBTbcWkP"}' data-id="gTVBTbcWkP" id="gTVBTbcWkP" data-same-height-subgrid-container class="gTVBTbcWkP gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gQNx8DD0BB gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUUUETsJ8U"
        class="gUUUETsJ8U"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Albert-Sans, 'Albert Sans'), var(--g-font-heading, heading);--weight:700;--size:45px;--size-tablet:45px;--size-mobile:36px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;--ls:;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUUUETsJ8U_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0n1-5D7MO"
        class="g0n1-5D7MO"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Albert-Sans, 'Albert Sans'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:22px;--size-mobile:16px;--lh:160%;--lh-tablet:180%;--lh-mobile:130%;--ls:normal;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0n1-5D7MO_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gM1_cmGp23 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#8BEA7C","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g1KdYhXl4G"}' data-id="g1KdYhXl4G" id="g1KdYhXl4G" data-same-height-subgrid-container class="g1KdYhXl4G gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:32px;--bbrr:32px;--btlr:32px;--btrr:32px;--bblr-mobile:20px;--bbrr-mobile:20px;--btlr-mobile:20px;--btrr-mobile:20px;--ml:auto;--pt:0px;--pl:var(--g-s-xl);--pb:15px;--pr:15px;--ml-mobile:auto;--pt-mobile:0px;--pl-mobile:var(--g-s-xl);--pb-mobile:15px;--pr-mobile:15px;--ml-tablet:auto;--pt-tablet:0px;--pl-tablet:var(--g-s-xl);--pb-tablet:15px;--pr-tablet:15px;--cg:16px;--rg:0px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:700px;--h:auto;--bgc:#8BEA7C;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gNzsjieVsF gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmbUG_AyHQ"
        class="gmbUG_AyHQ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:15px;--pl:0px;--pb:10px;--pr:0px;--pt-mobile:15px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--pt-tablet:15px;--pl-tablet:0px;--pb-tablet:10px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Albert-Sans, 'Albert Sans'), var(--g-font-heading, heading);--weight:600;--size:35px;--size-tablet:35px;--size-mobile:20px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;--ls:;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmbUG_AyHQ_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJE5DRA9z6"
        class="gJE5DRA9z6"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:10px;--pr:120px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:24px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:10px;--pr-tablet:120px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Albert-Sans, 'Albert Sans'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:22px;--size-mobile:16px;--lh:120%;--lh-tablet:180%;--lh-mobile:130%;--ls:normal;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJE5DRA9z6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"rgba(221, 221, 221, 0.5)","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"ghYsE1eb_r"}' data-id="ghYsE1eb_r" id="ghYsE1eb_r" data-same-height-subgrid-container class="ghYsE1eb_r gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--mb:0px;--pt:5px;--pl:10px;--pb:5px;--pr:5px;--mb-mobile:0px;--pt-mobile:10px;--pl-mobile:10px;--pb-mobile:10px;--pr-mobile:10px;--mb-tablet:0px;--pt-tablet:5px;--pl-tablet:10px;--pb-tablet:5px;--pr-tablet:5px;--cg:10px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:rgba(221, 221, 221, 0.5);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gErbByHGaa gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gdN-SOePGX"
        class="gdN-SOePGX"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ml-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ml-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Albert-Sans, 'Albert Sans'), var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:22px;--size-mobile:18px;--lh:160%;--lh-tablet:180%;--lh-mobile:180%;--ls:normal;--c:#0F4026;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggdN-SOePGX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#DDDDDD","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gkaI6m8Tf1"}' data-id="gkaI6m8Tf1" id="gkaI6m8Tf1" data-same-height-subgrid-container class="gkaI6m8Tf1 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--pt:5px;--pl:15px;--pb:5px;--pr:15px;--pt-mobile:5px;--pl-mobile:15px;--pb-mobile:5px;--pr-mobile:15px;--pt-tablet:5px;--pl-tablet:15px;--pb-tablet:5px;--pr-tablet:15px;--cg:5px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#DDDDDD;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g9ovG1fs9C gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gq3UlDE3xb" class="gp-leading-[0] gq3UlDE3xb" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gq3UlDE3xb" class="icon-wrapper gp-inline-flex gp-overflow-hidden gq3UlDE3xb " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><svg height="20" width="20" data-name="map-pin-plus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817580804211048">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M172,104a12,12,0,0,1-12,12H140v20a12,12,0,0,1-24,0V116H96a12,12,0,0,1,0-24h20V72a12,12,0,0,1,24,0V92h20A12,12,0,0,1,172,104Zm48,0c0,32.38-14.85,66.57-42.94,98.87a259,259,0,0,1-42.18,39,12,12,0,0,1-13.76,0C117.64,239.4,36,181.36,36,104a92,92,0,0,1,184,0Zm-24,0a68,68,0,0,0-136,0c0,33.31,20,63.37,36.7,82.71A249.35,249.35,0,0,0,128,216.89a249.35,249.35,0,0,0,31.3-30.18C176,167.37,196,137.31,196,104Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gJSjj8uBSd gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g2gugqy1vQ"
        class="g2gugqy1vQ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Albert-Sans, 'Albert Sans'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:22px;--size-mobile:16px;--lh:160%;--lh-tablet:180%;--lh-mobile:180%;--ls:normal;--c:#0F4026;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg2gugqy1vQ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g6yM1lM9dK gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJ49hvLKrm"
        class="gJ49hvLKrm"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ml-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ml-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Albert-Sans, 'Albert Sans'), var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:22px;--size-mobile:18px;--lh:160%;--lh-tablet:180%;--lh-mobile:180%;--ls:normal;--c:#0F4026;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJ49hvLKrm_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"gFC2DU0m4W"}' data-id="gFC2DU0m4W" id="gFC2DU0m4W" data-same-height-subgrid-container class="gFC2DU0m4W gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:5px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 8fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--h:auto;--h-mobile:100%;--pc:start;--pc-mobile:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:center"
      class="gvoYICApd_ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#DDDDDD","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g_FoSe1i86"}' data-id="g_FoSe1i86" id="g_FoSe1i86" data-same-height-subgrid-container class="g_FoSe1i86 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--pt:5px;--pl:15px;--pb:5px;--pr:15px;--pt-mobile:5px;--pl-mobile:15px;--pb-mobile:5px;--pr-mobile:15px;--pt-tablet:5px;--pl-tablet:15px;--pb-tablet:5px;--pr-tablet:15px;--cg:5px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#DDDDDD;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gZ9D9R8bfQ gp-relative gp-flex gp-flex-col"
    >
      
    <div id="ghG0eUgoQn" class="gp-leading-[0] ghG0eUgoQn" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="ghG0eUgoQn" class="icon-wrapper gp-inline-flex gp-overflow-hidden ghG0eUgoQn " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><svg height="20" width="20" data-name="address-book-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817659318042984">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M83.19,174.4a8,8,0,0,0,11.21-1.6,52,52,0,0,1,83.2,0,8,8,0,1,0,12.8-9.6A67.88,67.88,0,0,0,163,141.51a40,40,0,1,0-53.94,0A67.88,67.88,0,0,0,81.6,163.2,8,8,0,0,0,83.19,174.4ZM112,112a24,24,0,1,1,24,24A24,24,0,0,1,112,112Zm96-88H64A16,16,0,0,0,48,40V64H32a8,8,0,0,0,0,16H48v40H32a8,8,0,0,0,0,16H48v40H32a8,8,0,0,0,0,16H48v24a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V40A16,16,0,0,0,208,24Zm0,192H64V40H208Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gAQyJUllPd gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="giMvf5IOv0"
        class="giMvf5IOv0"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Albert-Sans, 'Albert Sans'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:22px;--size-mobile:16px;--lh:160%;--lh-tablet:180%;--lh-mobile:180%;--ls:normal;--c:#0F4026;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggiMvf5IOv0_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:center"
      class="gWW58YXMCL gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left;--ta-mobile:right" >
        <style>[data-id="g99g1Q39zJ"].gp-button-base::before, [data-id="g99g1Q39zJ-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 32px;
      border-bottom-right-radius: 32px;
      border-top-left-radius: 32px;
      border-top-right-radius: 32px;
      
  
    }
  
      
  [data-id="g99g1Q39zJ"]:hover::before, [data-id="g99g1Q39zJ-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="g99g1Q39zJ" dataId="g99g1Q39zJ" data-state="idle" aria-label="<p>Search</p>"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:12px;--pr:12px;--pt:5px;--pb:5px;--pl-mobile:12px;--pr-mobile:12px;--pt-mobile:0px;--pb-mobile:0px;--bblr:32px;--bbrr:32px;--btlr:32px;--btrr:32px;--hvr-bblr:32px;--hvr-bbrr:32px;--hvr-btlr:32px;--hvr-btrr:32px;--bgi:;--hvr-bgi:;--hvr-bg:var(--g-c-highlight, highlight);--bg:var(--g-c-brand, brand);--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-Albert-Sans, 'Albert Sans'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:22px;--size-mobile:21px;--lh:120%;--lh-tablet:180%;--lh-mobile:180%;--ls:normal"
          class="g99g1Q39zJ gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Albert-Sans, 'Albert Sans'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:22px;--size-mobile:21px;--lh:120%;--lh-tablet:180%;--lh-mobile:180%;--ls:normal;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg99g1Q39zJ_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
      <style id="custom-css-gdXKJsMyEo">
        .gdXKJsMyEo {
     background-color: #0C3E26;
  background-image: linear-gradient(
    180deg,               /*    */
    rgba(0, 0, 0, 0.2) 0%,  /*     */
    rgba(0, 0, 0, 0) 100%   /*   */
  );
}


      </style>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
      <style id="custom-css-gfwp7a6-yx">
        .gfwp7a6-yx {
background-color: blue;
}
      </style>
    
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-580270101236810500 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/4s-graphics/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=580270068101808900&sectionId=580270101236810500)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggncs7w4l91_text","label":"ggncs7w4l91_text","default":"<p><strong>1550+</strong> Happy Customers</p>"},{"type":"html","id":"ggSwZCntBvg_text","label":"ggSwZCntBvg_text","default":"<strong>Synthetic &amp; Specialty Substrates</strong> <i>Supplier</i>"},{"type":"html","id":"ggmhGBkfpJC_text","label":"ggmhGBkfpJC_text","default":"<p>Industry-leading supplier of high-quality printing substrates, specialty materials, and innovative solutions for professional graphics applications.</p>"},{"type":"html","id":"ggojwP97BKN_label","label":"ggojwP97BKN_label","default":"<p>&nbsp;</p><p>Browse Products</p>"},{"type":"html","id":"ggpsEUfiwcG_label","label":"ggpsEUfiwcG_label","default":"<p>&nbsp;</p><p>Browse Products</p>"},{"type":"html","id":"gg5Y_v-fPe9_text","label":"gg5Y_v-fPe9_text","default":"1k+"},{"type":"html","id":"ggoZCCjXqod_text","label":"ggoZCCjXqod_text","default":"<p>HappyCustomers</p>"},{"type":"html","id":"ggUUUETsJ8U_text","label":"ggUUUETsJ8U_text","default":"16+"},{"type":"html","id":"gg0n1-5D7MO_text","label":"gg0n1-5D7MO_text","default":"<p>Years Services Provide</p>"},{"type":"html","id":"ggmbUG_AyHQ_text","label":"ggmbUG_AyHQ_text","default":"Find Your Best Printing Papers"},{"type":"html","id":"ggJE5DRA9z6_text","label":"ggJE5DRA9z6_text","default":"<p>Premier Manufacturer &amp; Supplier of Specialty Coated Substrates for Printing Industry.</p>"},{"type":"html","id":"ggdN-SOePGX_text","label":"ggdN-SOePGX_text","default":"<p>Papers Name</p>"},{"type":"html","id":"gg2gugqy1vQ_text","label":"gg2gugqy1vQ_text","default":"<p>Pinnacle Dye Sublimation Paper</p>"},{"type":"html","id":"ggJ49hvLKrm_text","label":"ggJ49hvLKrm_text","default":"<p>Papers Name</p>"},{"type":"html","id":"ggiMvf5IOv0_text","label":"ggiMvf5IOv0_text","default":"<p>8.5\" x 11\"</p>"},{"type":"html","id":"gg99g1Q39zJ_label","label":"gg99g1Q39zJ_label","default":"<p>Search</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}